nav{
    background-color:grey;
    border-bottom: 2px solid black; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
    float: left;
}
  
ul li:last-child{
    float: right;
}

ul li a {
    padding: 1em 2em;
    text-decoration: none;
    text-align: center;
    display: block;
    color: white; 
}

li a:hover {
    background-color:black;
}