<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="../images/revature-logo.png" style="height: 2.5em;"></a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Employees</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Info</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="#">Logout</a>
            </li>
        </ul>

    </nav>
    <main class="container-fluid mx-auto " style="padding: 0 7.5em;">
        <div class="container align-content-center" id="loginForm">
            <br>
            <br>
            <br>
            <br>
            <form>
                <div id="bottomBorder" class="form-row justify-content-center">
                    <h1 class="display-4">Login</h1>
                </div>
                <hr>
                <br>
                <div class="form-row justify-content-center">
                    <label>Username:</label>
                </div>
                <div class="form-row justify-content-center">
                    <input class="inputstyle" type="text" name="username" id="username">
                </div>
                <br>
                <div class="form-row justify-content-center">
                    <label>Password:</label>
                </div>
                <div class="form-row justify-content-center">
                    <input class="inputstyle" type="password" name="password" id="password">
                </div>
                <br>
                <br>
                <br>
                <div class="form-row justify-content-center">
                    <input class="btn btn-outline-secondary" value="Login" id="submitButton">
                </div>
                <br>
                <br>
                <div class="form-row justify-content-center">
                    <div style="color:red;" id="error-div"></div>
                </div>
            </form>
    </main>
    <footer class="bg-light text-center fixed-bottom">
        <div class="text-center p-3">
            101121-JavaExt.
        </div>
    </footer>
    <script src="../scripts/login.js"></script>
</body>

</html>