<hr>
<h3>Pokemon Component</h3>
<!--If pokemon is not null, display this ng container-->
<ng-container *ngIf='pokemon; else noPokemon'>
    <div>
        <h4>{{pokemon.id}}: {{pokemon.name | excitedPipe}}</h4>
        <ng-container *ngFor = 'let sprite of pokemon.sprites | keyvalue'>
            <img *ngIf="sprite.value && sprite.key !== 'other' && sprite.key !== 'versions' " [src]='sprite.value'>
        </ng-container>
    </div>
</ng-container>
<ng-template #noPokemon>
    No pokemon available.
</ng-template>