<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!-- root tag -->
<hibernate-configuration>

	<!-- configuring session factory -->
	<session-factory>
		<property name="hibernate.connection.url">jdbc:postgresql://database-1.cllvqmegtmuc.us-east-1.rds.amazonaws.com:5432/postgres</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">p4ssw0rd</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.show_sql">true</property>
		
		<property name="hibernate.default_schema">hbn</property>
		<property name="hibernate.hbm2ddl.auto">create</property>
		
		<mapping class="com.revature.models.Department"></mapping>
	</session-factory>

</hibernate-configuration>