html {
    background-image: linear-gradient(45deg, black 0%, white 50%, black 100%);
    padding: 1em;
    font-family: sans-serif;
}

body{
    padding: 0;
    width: 50em;
    margin:auto;
    background-color: white;
    border: 2px solid black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-image: linear-gradient(45deg, rgb(78, 76, 76) 0%, rgb(185, 184, 184) 100%);
    color: white;
    padding: 3.5em;
    text-align: center;
}

header h1{
    font-size: 3em;
}

nav{
    background-color:grey;
    border-bottom: 2px solid black; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul li {
    float: left;
}
  
ul li:last-child{
    float: right;
}

ul li a {
    padding: 1em 2em;
    text-decoration: none;
    text-align: center;
    display: block;
    color: white; 
}

li a:hover {
    background-color:black;
}

footer{
    background-color: gray;
    height:4em;
    text-align: center;  
    margin-top: auto;
}

footer div{
    margin: 0;
    padding: 1.5em;
    color:white;
}

main {
    padding: 1.5em;
}
