<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink=''><img src="assets/revature-logo.png" style="height: 2.5em;"></a>
    <ul class="navbar-nav me-auto">
        <li class='nav-item'>
            <a class='nav-link' routerLink=''>Tasks</a>
        </li>
        <li class='nav-item'>
            <a class='nav-link' routerLink=''>Employees</a>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto">
        <li class='nav-item'>
            <a class='nav-link' routerLink='login'>Login</a>
        </li>
    </ul>
</nav>