# prevents empty bean retrieval from causing issues
spring:
  jackson:
    serialization:
      fail-on-empty-beans: false
  datasource:
    url: ${DB_URL} #can hardcode credentials, but better practice to use environment variables to not expose creds
    username: ${DB_USER}
    password: ${DB_PASS}
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create

# Actuator setting to display more metrics about the application
management:
  endpoints:
    web:
      exposure:
        include: "*"